<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script
      src="https://unpkg.com/htmx.org@2.0.1/dist/htmx.js"
      integrity="sha384-gpIh5aLQ0qmX8kZdyhsd6jA24uKLkqIr1WAGtantR4KsS97l/NRBvh8/8OYGThAf"
      crossorigin="anonymous"
    ></script>
    <!-- <script -->
    <!--   src="https://unpkg.com/htmx.org@2.0.1" -->
    <!--   integrity="sha384-QWGpdj554B4ETpJJC9z+ZHJcA/i59TyjxEPXiiUgN2WmTyV5OEZWCD6gQhgkdpB/" -->
    <!--   crossorigin="anonymous" -->
    <!-- ></script> -->
    <link href="/base.css" rel="stylesheet" />
    {% block head %}{% endblock %}
  </head>
  <body>
    <div id="content">{% block content %}{% endblock %}</div>
  </body>
</html>
