{% extends "base.html" %}

{% block head %}
<title>Search</title>
{% endblock %}

{% block content %}
<form
  id="search-form"
  hx-get="/search/results?page=1"
  hx-trigger="keyup changed from:[name='query'] delay:200ms, change"
  hx-target="#results"
  hx-swap="innerHTML"
  hx-sync="this:replace"
  hx-indicator="#initial-results-loading"
>
<input
type="text"
placeholder="Search..."
name="query"
/>
<select name="algorithm">
{% for algorithm in algorithms %}
<option value="{{algorithm}}">{{algorithm}}</option>
{% endfor %}
</select>
<span id="initial-results-loading" class="htmx-indicator">Loading...</span>
</form>

<ul id="results">
</ul>
{% endblock %}
