{% extends "base.html" %}

{% block head %}
<title>Search</title>
{% endblock %}

{% block content %}
<form
  id="search-form"
  hx-get="/search/results"
  hx-trigger="keyup changed from:[name='query'] delay:200ms, change"
  hx-target="#search"
  hx-swap="innerHTML"
  hx-boost="true"
  hx-include="[name='page']"
>
<input
type="text"
placeholder="Search..."
name="query"
/>
<select name="algorithm">
{% for algorithm in algorithms %}
<option value="{{algorithm}}">{{algorithm}}</option>
{% endfor %}
</select>
</form>

<div id="search" >
<input type="number" name="page" value="1" min="1" max="1" />
</div>
{% endblock %}
